.Board__wrapper {
    @apply flex justify-center;
}

.Board {
    font-size: 0; /*disable white space between inline block element */

    --size: 110px; /* size  */
    --margin: 2px; /* margin */
    --ratio: calc(1.732 * var(--size) + 4 * var(--margin) - 1px);

    width: calc((var(--size) + 2 * var(--margin)) * 11);
}

.Board::before {
    content: "";
    width: calc(var(--size) / 2 + var(--margin));
    float: left;
    height: 100%;
    shape-outside: repeating-linear-gradient(
            transparent 0 calc(var(--ratio) - 3px),
            black 0 var(--ratio)
    );
}

.Tile {
    width: var(--size);
    height: calc(var(--size) * 1.1547);

    margin: var(--margin);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--margin) - var(--size) * 0.2885);
    display: inline-flex;
    position: relative;
}

.Tile:not(.Tile--hidden) {
    @apply select-none transition-colors;
}

.Tile--has-unit, .Tile--highlight {
    @apply cursor-pointer;
}

.Tile__content {
    @apply absolute inset-0 flex flex-row justify-center items-center text-xl;
}

.Tile--hidden {
    background-color: #fffff022;

}

.Tile--standard {
    @apply bg-gray-200;
}

.Tile--initial-attacker,
.Tile--initial-defender {
    @apply bg-gray-300;
}

.Token {
    @apply
        rounded-full w-16 h-16 flex flex-row justify-center items-center transition-colors
    ;
}

.Token--unit {
    @apply
    border-4 shadow
    font-mono font-bold text-center text-4xl
    w-16 h-16;
    line-height: normal;
}

.Token--attacker {
    @apply bg-yellow-300 border-yellow-200;
}

.Token--highlight {
    @apply border-green-600;
}

.Token--defender {
    @apply bg-blue-300 border-blue-200;
}

.Token--initial {
    @apply w-6 h-6 opacity-70;
}

.Token--point {
    @apply w-auto h-auto text-3xl;
}

.Tile--initial-attacker .Token--initial {
    @apply bg-yellow-100;
}

.Tile--initial-defender .Token--initial {
    @apply bg-blue-100;
}

.Tile__content:after {
    /*content: attr(data-index);*/
    /*@apply text-center text-sm text-red-800;*/
}

.Tile--point-a,
.Tile--point-b {
    @apply bg-blue-200;
}

.Tile--highlight {
    @apply bg-green-600;
}

.Tile--highlight .Token--initial {
    @apply animate-ping;
}

.Tile--highlight.Tile--has-unit {
    @apply bg-red-300;
}
